body {
  font-family: sans-serif;
  background-color: #ffffff;
}
.first-title {
    /* font-weight: bold; */
    font-size: 38px;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    /* line-height: 1.5;
    border: 1; */
    /* transition: all 2s ease; */
    color: black;
}
.file-upload {
  position: relative;
  background-color: #ffffff;
  /* width: 600px; */
  margin: 0 auto;
  padding: 50px;
  font-size: 14px;
  /* vertical-align: middle; */
}

.file-upload-btn {
  position: absolute;
  width: 58%;
  color: #fff;
  background: #212121;
  border: none;
  border-radius: 8px;
  padding: 10px;
  /* border-radius: 4px;
  border-bottom: 4px solid #15824B; */
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
    margin: 0 auto;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  /* margin: 10 auto; */
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 30px;
  border: 1px dashed #212121;
  position: relative;
  width: 70%;
  margin: auto;
    /* text-align: center; */
    /* top: 30%; */
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 1px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 70;
  text-transform: uppercase;
  color: #212121;
  padding: 60px 0;
  
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
.nav-distance {
    padding: 2.1% 7.7%
}
.navbar-brand {
    width: 230px;
    height: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}
.sc-title {
    /* font-weight: bold; */
    font-size: 38px;
    font-family: 'Black Han Sans', sans-serif;
    /* line-height: 1.5;
    border: 1; */
    transition: all 2s ease;
    color: blueviolet;
}
.sc-result {
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    /* line-height: 1.5;
    border: 1; */
    transition: all 2s ease;
    color: black;
}
.section {
    margin-top: 100px;
}
.title {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-size: 54px; */
    color:#35465d;
    line-height: 1.7;
    text-align: center;
    /* height: 84px; */
}
.subtitle {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-size: 24px; */
    color:#35465d;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    /* height: 35px; */
}

.animal-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}

.bar-container {
  height: 2.7rem;
}

.uparupa-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.uparupa-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}

.gaebokchi-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.gaebokchi-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}

.shark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.shark-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}

.blob-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.blob-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}

.squid-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.squid-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}

#addthis{ 
    text-align: center;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 1.8rem;
    }
    .sc-result {
        font-size: 2.2rem;
        font-family: font-family: 'Black Han Sans', sans-serif;
    }
}
